//
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
section {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Commissioner', sans-serif !important;
  background-color: #fff;
  position: relative;
}
