a {
  text-decoration: none;
}

.navbar-brand {
  width: 10%;
}

header {
  position: fixed;
  width: 100vw;
  z-index: 1000;
}

.nav-link {
  transition: color 500ms;
  color: rgba(255, 255, 255, 0.55);

  &:hover {
    transition: color 500ms;
    color: rgba(255, 255, 255, 0.8);
  }

  &.active {
    transition: color 500ms;
    color: #fff;
  }
}

.login-icon {
  display: block;
  width: 20px;

  svg {
    height: 1.6em;
    width: 1.6em;

    &:nth-child(1) {
      transition: fill 500ms;
      fill: rgba(255, 255, 255, 0.55);
    }
  }

  &:hover {
    svg {
      &:nth-child(1) {
        transition: fill 500ms;
        fill: rgba(255, 255, 255, 0.8);
      }
    }
  }

  &.active {
    svg {
      &:nth-child(1) {
        transition: fill 500ms;
        fill: #fff;
      }
    }
  }
}
